
<div class="bookmarks-container">
  <h2>My Bookmarks</h2>



  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>

  <mat-list class="bookmark-list" *ngIf="bookmarks">
    <ng-container *ngIf="bookmarks.length > 0; else noBookmarks">
      <app-repository
        *ngFor="let bookmark of bookmarks"
        [repository]="bookmark.repository"

     >
      </app-repository>
    </ng-container>

    <ng-template #noBookmarks>
      <div class="no-bookmarks">
        No bookmarks yet. Start searching repositories to bookmark them!
      </div>
    </ng-template>
  </mat-list>
</div>
